@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">欢迎</h1>

    <div class="container text-center">
        <div class="d-grid gap-2 col-6 mx-auto">
            
                <a class="btn btn-outline-primary btn-lg" href="/Zhanghus" role="button">用戶</a>
            
            
                <a class="btn btn-outline-primary btn-lg" href="/Jiankangs" role="button">老人健康信息</a>
            
            
                <a class="btn btn-outline-primary btn-lg" href="/Message_doctor" role="button">医生留言</a>
            

            
                <a class="btn btn-outline-primary btn-lg" href="/Message_oldman" role="button">老人留言</a>
            
            
                <a class="btn btn-outline-primary btn-lg" href="/Foods" role="button">食谱</a>
            
            
                <a class="btn btn-outline-primary btn-lg" href="/Videos" role="button">视频管理</a>
            
            
                <a class="btn btn-outline-primary btn-lg" href="/Dakas" role="button">打卡</a>
            
            
                <a class="btn btn-outline-primary btn-lg" href="/Alerts" role="button">警报</a>
            
            
                <a class="btn btn-outline-primary btn-lg" href="/Falls" role="button">摔倒检测</a>
            
        </div>
    </div>
</div>
