@model HomeCare.Models.Video

@{
    ViewData["Title"] = "详情";
}

<h1>详情</h1>

<div>
    <h4>视频管理</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oldman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oldman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" role="button" asp-action="Edit" asp-route-id="@Model?.Id">编辑</a>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">返回列表</a>
</div>
